<div class="d-sm-flex flex-wrap">
  <ng-container *ngFor="let item of items">
    <div class="card">
      <div class="card-body">
        <p *ngFor="let i of item | keyvalue">
          <ng-container *ngIf="i.key != ID">
            <span
              [ngClass]="{ 'text-success': i.key == LABEL }"
              class="text-primary font-weight-bold mr-2"
              *ngIf="i.value"
              >{{ i.key }}:</span
            >
            {{ i.value }}
          </ng-container>
        </p>
        <div class="pointer mt-3">
          <span
            class="label"
            [ngClass]="{ 'bg-primary text-white': item.get(LABEL) === label.name }"
            *ngFor="let label of labels"
            (click)="selectLabel(item, label)"
          >
            {{ label.name }}</span
          >
        </div>
      </div>
    </div>
  </ng-container>
</div>
