<div class="main">
  <div class="content container mt-4">
    <span (click)="onNavigate()" class="logo">
      <svg xmlns="http://www.w3.org/2000/svg" width="100.157" height="auto" viewBox="0 0 135.157 42.45">
        <g id="Gruppe_353" data-name="Gruppe 353" transform="translate(-62.6 1818.95) rotate(-90)">
          <path
            id="Rechteck_262"
            data-name="Rechteck 262"
            d="M21.225,0h113.46a0,0,0,0,1,0,0V42.45a0,0,0,0,1,0,0H21.225A21.225,21.225,0,0,1,0,21.225v0A21.225,21.225,0,0,1,21.225,0Z"
            transform="translate(1818.95 63.072) rotate(90)"
            fill="#fefefe"
          />
          <path
            id="path"
            d="M42.014,8.6,26.385,22.738,10.757,8.6,6,12.9,26.385,31.344,46.77,12.9Z"
            transform="translate(1771.258 54)"
            fill="#fefefe"
            fill-rule="evenodd"
            opacity="0"
          />
          <text
            id="Labely"
            transform="translate(1791.875 110.762) rotate(90)"
            fill="#5c3e8d"
            font-size="20"
            font-family="AvenirNext-Bold, Avenir Next"
            font-weight="700"
            opacity="0.997"
          >
            <tspan x="0" y="0">Labely</tspan>
          </text>
          <ellipse
            id="Ellipse_26"
            data-name="Ellipse 26"
            cx="11.005"
            cy="10.613"
            rx="11.005"
            ry="10.613"
            transform="translate(1808.338 75.125) rotate(90)"
            fill="#5c3e8d"
          />
          <path
            id="Pfad_157"
            data-name="Pfad 157"
            d="M5.765,0a5.665,5.665,0,0,1,5.765,5.559,5.665,5.665,0,0,1-5.765,5.559A5.665,5.665,0,0,1,0,5.559,5.665,5.665,0,0,1,5.765,0Z"
            transform="translate(1803.284 80.366) rotate(90)"
            fill="#ffff"
          />
        </g>
      </svg>
    </span>
    <div class="mt-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
