<div class="d-md-flex">
  <labely-pagination-container
    [paginationConfig]="config"
    (pageDataConfig)="pageChange($event)"
  ></labely-pagination-container>
  <div class="d-sm-flex flex-wrap mb-4">
    <button class="btn btn-success" (click)="download()">Download labeled data</button>
    <button class="btn btn-outline-danger" (click)="clearStorage()">Discard</button>
  </div>
</div>

<ng-container *ngIf="data.length > 0">
  <labely-items-container [items]="data" [labels]="labels" (labelItem)="labelItem($event)"></labely-items-container>
</ng-container>

<labely-pagination-container
  [paginationConfig]="config"
  (pageDataConfig)="pageChange($event)"
></labely-pagination-container>
