<form [formGroup]="labelForm" (ngSubmit)="onSubmit()">
  <div class="form-group d-inline-block">
    <div class="input-group">
      <input
        autocomplete="off"
        placeholder="Enter a new label"
        class="form-control form-control-lg input-lg"
        formControlName="label"
        id="label"
        type="text"
      />
      <div class="input-group-append">
        <button class="btn btn-success" type="submit">Add</button>
      </div>
      <button class="btn btn-outline-danger ml-2" (click)="onDiscard()">discard</button>
    </div>
  </div>
</form>
