<labely-pagination-container
  [paginationConfig]="config"
  (pageDataConfig)="pageChange($event)"
></labely-pagination-container>

<ng-container *ngIf="data.length > 0">
  <div class="d-sm-flex mb-4">
    <button class="btn btn-primary mr-2" [disabled]="true">Export labeled data to CSV</button>
    <button class="btn btn-outline-primary mr-2" (click)="clearStorage('data')">Clear localStorage</button>
    <button class="btn btn-outline-primary" (click)="clearStorage('labels')">Clear labels</button>
  </div>
  <labely-items-container [items]="data" [labels]="labels"></labely-items-container>
</ng-container>

<labely-pagination-container
  [paginationConfig]="config"
  (pageDataConfig)="pageChange($event)"
></labely-pagination-container>
