<div class="content">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <labely-label (activeLabelEmitter)="selectLabel($event)" [activeLabel]="activeLabel" [labels]="labels">
        </labely-label>
        <button class="btn btn-success mb-2" (click)="onDataExport()">Download labeled data</button>
      </div>
      <p (click)="onRemoveMark($event)" (mouseup)="onSelectText()" id="words">
        {{ data }}
      </p>
    </div>
    <button class="btn btn-secondary" [disabled]="onDisable()" (click)="onNext()">
      Next {{ pos + 1 }} / {{ data.length }}
    </button>
  </div>
</div>
