/* You can add global styles to this file, and also import other style files */
@import './assets/themes/variables';
@import '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.label {
  border: 1px solid $COLOR-SECONDARY;
  color: $COLOR-SECONDARY;
  border-radius: 25px;
  padding: 5px;
  margin-bottom: 10px;
  min-width: 35px;
  display: inline-block;
  text-align: center;

  &:hover {
    background-color: #7c64a3;
    border-color: transparent;
    cursor: pointer;
    color: white;
    transition: 0.3s;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.mark-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  .word {
    margin-right: 5px;
  }
}

mark,
.mark {
  padding: 5px;
  margin-right: 5px;
  color: white;
  background-color: $COLOR-SECONDARY;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
  line-height: 1.2;

  &:hover {
    opacity: 0.8;
    transition: 0.3s ease-in-out;
  }
}

.text-inline-label {
  background-color: white;
  color: $COLOR-SECONDARY;
  font-size: 10px;
  text-transform: uppercase;
  border-radius: 8px;
  font-weight: bold;
  padding: 4px;
}
